nav {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #141414;
}
  
nav a {
    display: inline-block;
    vertical-align: middle;

    color: white;
    font-family: 'serif', 'Times', sans-serif;
    font-size: 250%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

    padding: 10px 20px 10px 20px;

}

nav a:hover {
    background-color: black;
}
